name: demo runner

on:  workflow_dispatch
    # workflows:
    #   - "trigger_event2"
    # types:
    #   - completed
jobs:
  # nom du 1er job
  upload:
    name: upload
    runs-on: ubuntu-latest
    steps:
      # nom du step
      - name: créer le fichier
      # commande pour créer un fichier
        run: echo "coucou c'est l'artifact" > artifact.txt
      - name: upload artifact.txt
        # action pour générer l'artifact
        uses: action/upload-artifact@v3
        with:
          name: artifact
          # chelin de l'artifact (dans le runner)
          path: artifact.txt

    # second job pour récupérer l'artifact produit par le premier job
  download:
    name: download
    # doit s'executer APRES le premier job
    needs: upload
    runs-on: ubuntu-latest
    steps:
      # nom du step
      - name: download 
        # action pour télécharger l'artifact dans le runner
        uses: download/download-artifact@v3
        with:
          # on doit lui passer le nom de l'artifact généré au 1
          name: artifact
      - name: lire le fichier
        run: cat artifact.txt


